a{
    color: #c2c2c29f;
    color: linear-gradient(red, #1d1d81);
    color: linear-gradient("#1d1d81", red);
    color: #252525;
    color: #350235;


    color: rgba(0, 0, 0, 0.68);
    
    color: #f7f7f7;

    color: rgba(204, 47, 252, 0.5);

    color: whitesmoke;

    color: #9b9b9b;

    box-shadow: 2px 2px 4px 2px #8f048f;

}